body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/

/*region Tutorial: Intro to React*/
/*https://reactjs.org/tutorial/tutorial.html#setup-for-the-tutorial*/
/**/

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
/*endregion Tutorial: Intro to React*/

/******************************************************/
/******************************************************/
/******************************************************/

table thead
{
  color: white;
  background-color: black;
}

table tbody tr.even{
  background-color: #d4d4d4;
}
table tbody tr.odd{
  background-color: #eefeca;
}

.pager .current {
    color: #fff;
    background-color: #000;
}